@model SurfBoardWeb.Models.BoardTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Boards" asp-action="Index" method="get">
    <p>
        <select asp-for="BoardType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Søg" class="btn btn-default" /> |
        <a asp-action="Index">Stop Søgning</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Thickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards[0].Equipment)
            </th>
            <th>
                billede
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Boards) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.PicturePath)" height="40" class="hoverImage">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
